h1{
	 color: red;
	  text-shadow: 5px 5px 19px white;
	  text-align: center;
	  font-family:Lucida Calligraphy;
	  font-size: 18pt; 
}
body{
	background: black url(tomchi.JPG);
	background-position: center;
    background-repeat: no-repeat,repeat;
    padding: 
}
	
div{
	color: white; 
	 font-family:Vijaya;
 	 font-size: 20pt;
 	margin-left: 250px;
}
a {
	border-image-outset-shadow: 2px 2px 4px white;
	float: center;

}
.box-1{

 color: red;
	  text-shadow: 5px 5px 19px white;
	  font-family:Lucida Calligraphy;
  	  font-size:18pt; 
 	  margin-left: 250px;

}
h2{
 	color: white;	
 	font-size: 18pt;
	text-shadow: 2px 2px 4px green;
}


#hover{
	text-shadow: 2px 2px 4px green;
	text-align: center;
	color: blue;
	transition: 1s;
	margin: 500;
	font-size: 30pt; 
 
}
 #hover:hover{
 	color: white;
 }

ol{
 	color: white;
}
a{
	style="font-size:5vw;
	color: green;

}

